{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Xoffencer FilmWorld - Xoffencer</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body style="background-image: url('{{ movie_data.Poster.url }}'); background-repeat: no-repeat; background-size: cover;">


    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' user.username %}">Profile</a></li>
        <li><a href="{% url 'change-password' %}">Change Password</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'logout' %}">Log out</a></li>
        {% endif %}
    </ul>
    <nav class="black">
        <div class="nav-wrapper">
            <a href="{% url 'index' %}" class="brand-logo" style="margin-left: 40px"><img style="width: 15vw; margin-top: 10px;" src="{% static 'img/logo.png' %}"></a>
            <ul class="right hide-on-med-and-down">
                <!-- Dropdown Trigger -->
                {% if user.is_authenticated %}
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1" style="color: gray;">{{ user.username }}<i class="material-icons right">arrow_drop_down</i></a> {% else %}
                    <li><a href="{% url 'login' %}">Please sign in</a></li>
                    {% endif %}


                </li>
            </ul>
        </div>
    </nav>


    {% block banner %} {% endblock %}

    <div class="container">
        <div class="section">

            {% block content %} {% endblock %}

        </div>
    </div>


    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Developer Bio</h5>
                    <p class="grey-text text-lighten-4">Hi, this is Xoffencer. I am a Python Django Developer, Made this website to show off my skills in Django Python FrameWork to the company for which i apply for a job as a Django Developer. I am also a Cyber Security Researcher and having
                        Hall of Fame in more then 5 internation companies as a Cyber Security Researcher. To know more about my self Please visit My Profile <a href="http://profile.xoffencer.com/">profile.xoffencer.com</a></p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="{% url 'login' %}">Log In</a></li>
                        <li><a class="white-text" href="{% url 'about' %}">About</a></li>
                        <li><a class="white-text" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="{% url 'privacypolices' %}">Privacy Policies</a></li>
                        <li><a class="white-text" href="{% url 'disclaimer' %}">Disclaimer</a></li>
                        <li><a class="white-text" href="{% url 'termsandconditions' %}">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © Copyright <a href="http://profile.xoffencer.com/">Mr.Xoffencer.</a> All Rights Reserved. Designed with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

</body>

</html>